body {
	width: 220px;
	background-color: whitesmoke;
	text-align: center;
	font-family: 'Roboto', serif;
	color: #011627;
	transition: all 0.25s;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
	color: #982649;
}

.line {
	border: 1px solid #982649;
	width: 85%;
	margin-left: 7.5%;
	margin-top: -10px;
	margin-bottom: -5px;
}

#timer {
	font-size: 2em;
  letter-spacing: 1px;
	display: table;
	margin: 0 auto;
}

.timer_group, #colon {
	float: left;
	display: table;
	margin: 0 auto;
	overflow: hidden;
}

.controls {
	letter-spacing: 0px;
	left: 50%;
	cursor: pointer;
}

.up {
	color: #5DA9E9;
}

.down {
	color: #982649;
}

span {
    -webkit-user-select: none; /*no double click highlight*/
}

.buttons {
	margin: 0 auto;
	display: table;
}

#begin {
	background-color: #5DA9E9;
	color: whitesmoke;
	display: table;
	margin: 0 auto;
	float: left;
	margin-left: 2px;
	border: 2px solid #5DA9E9;
	padding: 10px;
	font-size: 1em;
	letter-spacing: 1px;
	overflow: hidden;
}

#begin:hover {
	background-color: whitesmoke;
	transition: 0.25s;
	color: #5DA9E9;
}

#clear {
	background-color: #982649;
	color: whitesmoke;
	display: table;
	margin: 0 auto;
	float: left;
	margin-right: 2px;
	border: 2px solid #982649;
	padding: 10px;
	font-size: 1em;
	letter-spacing: 1px;	
	overflow: hidden;
}

#clear:hover {
	background-color: whitesmoke;
	transition: 0.25s;
	color: #982649;

/*COLOR SCHEME
red: #982649
black: #011627
white: whitesmoke
blue: #5DA9E9
*/